* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #1a1a1a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* Pages Layout */
.pageTitle {
    font-family: georgia;
    text-underline-offset: 20px;
    text-decoration: underline;
    text-decoration-color: #00B3FF;
	font-size: clamp(20px, 5vw, 60px);
    font-weight: 20;
	margin-bottom: 30px;
	margin-left: clamp(10px, 5vw, 60px);
    margin-right: clamp(10px, 5vw, 60px);
    padding-left: clamp(10px, 5vw, 60px);
	animation: fadeUp 1s ease forwards;
}

.textGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 80px;
	padding-left: clamp(10px, 5vw, 60px);
    margin-right: 60px;
	animation: fadeUp 1s ease forwards;
}

.pageLogo { 
    position: absolute;
    margin-right: clamp(15px, 5vw, 60px);
    padding-right: clamp(50px, 5vw, 60px);
    margin-top: 75px;
    right: 1px;
    max-width: clamp(80px, 8vw, 150px);
    max-height: clamp(50px, 8vw, 150px);
    animation: fadeUp 1s ease forwards;
}

/* Text blocks */
.textBlock {
	margin-bottom: 60px;
	font-size: clamp(15px, 2vw, 25px);
    margin-left: clamp(15px, 5vw, 60px);
    margin-right: clamp(15px, 5vw, 60px);
}

.textBlock h3 {
    font-family: 'Courier New';
	margin-bottom: 15px;
	font-weight: 525;
    font-size: clamp(20px, 3vw, 35px);
}

.textBlock p {
    font-family: 'Courier New';
	margin-bottom: 10px;
	line-height: 1.6;
}

.textBlock ul {
    padding-left: 50px;
}

/* Navigation bar */        
nav {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 3vw, 60px);
    padding: 20px clamp(20px, 8vw, 200px);
    animation: fadeUp 1s ease forwards;
}

.nav-buttons {
	background: #2a2a2a;
    color: #ffffff;
    padding: clamp(10px, 2vw, 12px) clamp(15px, 2vw, 25px);
    border-radius: 30px;
    text-decoration: none;
    font-size: clamp(12px, 2vw, 17px);
    font-family:'Lucida Sans';
    border: 1px solid transparent;
    white-space: nowrap;
    transition: transform .3s ease, box-shadow .1s ease, outline .1s ease;
}

.nav-buttons:hover {
    outline: 2px solid #00B3FF;
    box-shadow: 0 0 10px #00B3FF;
    transform: scale(1.1);
}

/* Home Page */
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: fadeUp 1s ease forwards;
}

.main h1 {
    font-family: georgia;
    font-size: clamp(20px, 5vw, 60px);
    font-weight: 600;
    margin-bottom: 10px;
}

.underline {
    width: 60px;
    height: 7px;
    background: #00B3FF;
    margin: 15px 0 25px 0;
    border-radius: 3px;
}

.main h2 {
    font-family: georgia;
    font-size: clamp(15px, 3vw, 30px);
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 40px;
}

.icons {
    display: flex;
    gap: 30px;
}

.logo {
    width: clamp(40px, 5vw, 55px);
	height: clamp(40px, 5vw, 55px);
    filter: invert(.1);
}

.git {
    transform: scale(.8);
}

.circle {
	width: clamp(40px, 5vw, 55px);
	height: clamp(40px, 5vw, 55px);
	background: #2a2a2a;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .3s ease, box-shadow .1s ease, outline .1s ease;
	cursor: pointer;
	font-size: 20px;
}

.circle:hover {
    outline: 2px solid #00B3FF;
    box-shadow: 0 0 10px #00B3FF;
    transform: scale(1.1);
}

.contactMessage h3{
    font-family: 'Courier New';
    font-weight: 5;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    animation: fadeUp 1s ease forwards;
}

.contactMessage h2 {
    font-family: 'Courier New';
    font-weight: 5;
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
}

.contactAccent {
    width: 60px;
    height: 7px;
    background: #00B3FF;
    margin: 15px auto 25px;
    border-radius: 3px;
}

.button-link {
    text-decoration: none;
    color: white;
}

.button-link:hover {
    text-decoration:underline;
}

/* Loadup animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }to {
        opacity: 1;
        transform: translateY(0);
    }
}
